.almostfooter {
    /* background-color:rgb(23, 23, 23); */
    /* background-color: rgb(0, 33, 52); */
    background-color: rgb(23, 23, 23);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
.howmanydivs {
    display: flex;
    justify-content: space-between;
    padding: 0rem 10rem;
    padding-top: 80px;
}
#root > div > div.almostfooter > div > div.second > a > svg {
    color: white;
    font-size: 50px;
}
.footer {
    text-align: center;
}
#root > div > div.almostfooter > div.footer > p > a {
    text-decoration: none;
    color: orange;
}
#footerlogo {
    width: 150px;
    height: 150px;
}
#root > div > div.almostfooter > div.howmanydivs > div > h3 {
    font-weight: bold;
}
#root > div > div.almostfooter > div.howmanydivs > div:nth-child(2) > p {
    /* padding-bottom: 6px; */
}
@media only screen and (max-width: 768px) {
    .howmanydivs {
      flex-direction: column;
      align-items: left;
      padding: 2rem;
    }
    .first, .second {
      margin-bottom: 2rem;
    }
    #footerlogo {
      width: 100px;
      height: 100px;
    }
    .almostfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  @media only screen and (max-width: 1145px) {
    .howmanydivs{
        display: flex;
        justify-content: space-between;
        padding: 0rem 3rem;
        padding-top: 80px;
    }
  }
  #root > div > div > div.howmanydivs > div > a{
    color: white;
  }
  .first {
    display: flex;
    flex-direction: column;
  }