.testslika {
    object-fit: cover;
}
.bottom-left > h1, h2, h3, h4, h5, p {
    color: white;
}
.firstsection {
    position: relative;
  }
  
  .image-container {
    position: relative;
    height: 1000px;
    overflow: hidden;
  }
  
  .image {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: zoom-in-out 14s infinite;
  }
  
  .image.current {
    opacity: 1;
    width: 100%;
  }
  
  @keyframes zoom-in-out {
    0% {
      transform: scale(1);
      background-size: 100%;
    }
    100% {
      transform: scale(1.3);
      background-size: 130%;
    }
  }

  .bottom-left {
    width: 1000px;
    position: absolute;
    bottom: 40%;
    
    color: #ffffff;
  }
  
  #fronttitle {
    font-weight: 700;
    font-size: 68px;
}
#vidipovekjebtn {
    font-weight: bold;
    font-size: larger;
    background-color: rgb(1, 83, 133);
    color: white;
  }
  .bottom-left {
    
    color: black;
    position: absolute;
    width: 100%;
    bottom: 40%;
    padding: 0rem 10rem;
  }

  #vidipovekjebtn{
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .cards1 { 
    position: relative;
    z-index: 3;
    margin-top:-120px;
    display: flex;
    justify-content: center;
    color: white;
}
a {
  text-decoration: none;
}
.card-holder {
    background-color: rgb(1, 83, 133);
    background-color: white;
    width: 400px;
    height: auto;
    margin-right: 50px;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 30px 0px rgba(25.000000000000004, 25.000000000000004, 25.000000000000004, 0.1);
}
.card-holder a svg {
    font-size: 60px;
    color: rgb(9, 141, 132);
}
.caption {
    display: flex;
    justify-content: row;
    height: 60px;
}
body {
    background-color: white;
}
.caption h3 {
    color: black;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.description {

    padding-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.description p {
    margin: 0;
    color: #616161;
    /* color: #020202; */
    font-weight: 700;
    
}

.homeicons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.homeicons svg {
    fill: rgb(9, 141, 132);
    height: 50px;
    width: 50px;
    margin-right: 5px;
}
  
@media only screen and (max-width: 950px) {
    .cards1 {
    flex-wrap: wrap;
    }
    .card-holder {
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
    }
    }
    @media only screen and (max-width: 772px) {
        .cards1 {
        flex-wrap: wrap;
        }
        .card-holder {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
        }
        }
        
        
        .pero {
          width: 100%;
          height: 100%;
        }
        .pero {
          position: relative;
        }
        
        .background-image {
          position: relative; /* add position relative to stack content */
          background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          ), url('../images/moreinfo4.jpg');
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
          height: 500px;
        }
        
        .overlay-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        
        .overlay-text > h2 {
          font-size: 3rem;
          margin-bottom: 1rem;
        }
        
        .overlay-text > p {
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }
        
        button {
          padding: 1rem 2rem;
          background-color: rgb(9, 141, 132);
          background-color: rgb(1, 83, 133);
          color: #fff;
          font-size: 1.5rem;
          border: none;
          border-radius: 2rem;
          cursor: pointer;
        }
        .what-we-offer {
          background-color: #fff;
          padding: 50px 0;
          text-align: center;
        }
        
        .section-title {
          font-size: 2.5rem;
          font-weight: bold;
          text-align: center;
          color: rgb(9, 141, 132);
          text-shadow: 1px 1px #eee;
          letter-spacing: 2px;
          margin: 0;
          padding: 0;
          font-family: 'Roboto', sans-serif;
        }
        
        .offer-list {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        
        .offer-item {
          margin: 30px;
          width: 350px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;
          background-color: #fff;
          border-radius: 10px;
        }
        
        .offer-item:hover {
          transform: translateY(-5px);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }
        
        .offer-img {
          position: relative;
          overflow: hidden;
          border-radius: 10px 10px 0 0;
        }
        
        .offer-img img {
          object-fit: cover;
          width: 100%;
          height: 300px;
          transition: all 0.3s ease;
        }
        
        .offer-img:hover img {
          transform: scale(1.2);
        }
        
        .offer-details {
          padding: 20px;
        }
        
        .offer-title {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 10px;
          color: rgb(9, 141, 132);
        }
        
        .offer-description {
          font-size: 18px;
          line-height: 1.5;
          color: #333;
          font-weight: 700;
        }
        #root > div > div.homepage > section > div > div:nth-child(2) {
          background-color: rgb(165, 214, 244);
        }
        .our-benefits {
          background-color: #f5f5f5;
          padding: 60px 0;
          padding-bottom: 0px;
        }
        
        .benefits-container {
          display: flex;
          width: 100%;
          align-items: center;
          background-color: rgb(165, 214, 244);
          background-color: rgb(38, 96, 132);
          background-color: rgb(1, 83, 133);
        }
        
        .benefits-text {
          flex-basis: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          max-width: 800px;
          margin: 0 auto;
          padding: 50px 0;
          padding-top: 50px;
          padding-left: 10rem;
          /* text-align: center; */
          text-align: left;
        }
        
        .benefits-text p {
          font-size: 1.2rem;
          line-height: 1.5;
          margin-bottom: 15px;
          font-family: 'Montserrat', sans-serif;
          text-align: left;
          width: 99%;
          font-weight: 700;
          
        }
        
        .benefits-images {
          flex-basis: 60%;
          display: flex;
          justify-content: space-around;
        }
        
        .benefit-img {
          width: 50%;
        }
        
        .benefit-img img {
          object-fit: cover;
          width: 100%;
          height: 572px;
        }
        #root > div > div.homepage > section.our-benefits > div > div.benefits-text > p {
          color: black;
          color: white;
          
        }.benefits-text h2 {
          width: 100%;
          font-size: 2.5rem;
          margin-bottom: 20px;
          font-family: 'Montserrat', sans-serif;
          text-align: left !important;
        }
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

        body {
            font-family: 'Montserrat', sans-serif;
        }
        .zafir { 
          width: 70%;
          height: 200px;
          background-color: rgb(9, 141, 132);
          position: relative;
          z-index: 3;
          margin-bottom:-30px;
          display: flex;
          justify-content: space-evenly;
          color: white;
          align-items: center;
          border-radius: 10px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          background-color: rgb(1, 83, 133);
        }
        .kava {
          display: flex;
          justify-content: center;
       
        }
        #root > div > div.homepage > div.kava > div > div > h2 {
          font-weight: bolder;
        }
        #kontaktbtn2 {
     
          font-weight: bold;
          font-size: large;
          background-color: rgb(1, 83, 133);
          background-color: rgb(9, 141, 132);
          color: white;
          width: 180px;
          height: 65px;
        }
        @media (max-width: 767px) {
          .zafir {
            width: 100%;
            height: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            padding: 20px;
            border-radius: 0;
            box-shadow: none;
          }
        
          #root > div > div.homepage > div.kava > div > div > h2 {
            text-align: center;
          }
        
          #kontaktbtn2 {
            height: auto;
          }
        }
        .Projects-title-home > h2 {
          font-size: 32px;
          color: #333;
          margin: 0;
          padding: 0;
          font-weight: bold;
        }
        .Projects-title-home {
          display: flex;
          justify-content: center;
          padding: 30px 0px;
          text-align: center;
        }
        .Projects-title-home {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px 0px;
        }
        
        .Projects-title-home h2 {
          font-size: 2.5rem;
          font-weight: bold;
          text-align: center;
          color: rgb(9, 141, 132);
          text-shadow: 1px 1px #eee;
          letter-spacing: 2px;
          margin: 0;
          padding: 0;
          font-family: 'Roboto', sans-serif;
        }
        .Load-more-project-home {
          width: 300px;
        padding: 1rem 2rem;
        background-color: rgb(9, 141, 132);
        background-color: rgb(1, 83, 133);
        background-color: rgb(9, 141, 132);
        color: #fff;
        font-size: 1.5rem;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        }
        .Projects-home {
          /* background-color: #f5f5f5; */
          align-items: center;
          padding: 50px 0px 50px 0px;
          gap: 50px;
        }
        .infosection-number{
          width: 300px;
    padding: 1rem 2rem;
    background-color: rgb(1, 83, 133);
    background-color: rgb(9, 141, 132);
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    
text-align: center;
        }
 div.homepage > div.pero > div > div > div > h4 {
          padding: 0px;
          margin: 0px;
        }
        /* ABOUT US SECTION ON HOME PAGE*/
        .aboutus-home {
          display: flex;
          width: 100%;
          height: 600px;
          justify-content: center;
          align-items: center;
          background-color: rgb(1, 83, 133);
        }
        .aboutus-home-text {
          display: flex;
          flex-direction: column;
          width: 50%;
          height: 600px;
          justify-content: center;
          align-items: center;
        }
        .aboutus-home-text > div {
          width: 80%;
        }
      .aboutus-home-img {
        width: 50%;
        height: 600px;
      }
      .aboutus-home-img > img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .aboutus-home-title {
      color: #098d84!important;
      display: block;
      letter-spacing: .2em;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 25px;
  }
  .aboutus-home-description {
    color: white;
    text-align: left;
  }
.aboutus-home-description > p {
  font-size: 18px;
}
  .aboutus-home-bottomdesc {
    display: flex;
    margin-top: 50px;
    padding-top: 10px;
    background-color: rgb(165, 214, 244);
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
  }
  .aboutus-home-icon{
    display: flex;
   
  }
.aboutus-home-bottomdesc-text > p {
  color: #000;
    text-align: left;
}
.aboutus-home-icon > svg {
  color: rgb(255, 196, 0);
  font-size: 40px;
}
.aboutus-home-bottomdesc-text > h6 {
  font-weight: bold;
}
#abouthomebtn {
  background-color: #098d84;
  width: 250px;
  margin-top: 30px;
}

.container23 {
  display: flex;
  width: 80%;
  height: 800px;
  gap: 10px;
}

.left, .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-img {
  width: 100%;
  height: 60%;
}

.bottom-images, .top-images {
  display: flex;
  width: 100%;
  height: 40%;
  gap: 10px;
}

.small-img {
  width: 50%;
}

.bottom-img {
  width: 100%;
  height: 60%;
}
.image-container1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
 
}
.home-projects-container {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 650px) {
  .container23 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .left, .right {
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  .benefits-text h2{
    font-size: 24px;
  }
  
}
@media only screen and (max-width: 550px) {
  
  #root > div > div.homepage > div.kava > div > div > h2 {
    font-size: 24px;
  }
  #root > div > div.homepage > div.firstsection > div.bottom-left > h3 {
    font-size: 24px;
  }
  #fronttitle {
    font-size: 36px;
  }
  #root > div > div.homepage > div.firstsection > div.bottom-left > h5 {
    font-size: 18px;
    width: 95%;
  }
  .Load-more-project-home {
    font-size: 1.2rem;
    width: 200px;
  }
  .section-title {
    font-size: 32px;
  }
  #root > div > div.homepage > div.pero > div > div > div > h4 {
    font-size: 18px;
  }
  .Projects-title-home > h2 {
    font-size:32px;
  }
  .Load-more-project-home { 
    width: auto;
  }
  .infosection-number { 
    width: auto;
  } 
  .caption h3 {
    font-size: 17px;
  }
  .overlay-text > h2 {
    font-size: 24px;
  }
  .overlay-text > p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1000px) {
  .about-description { 
    padding: 5rem 2rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .logofoot {
    display: flex;
    justify-content: center;
  }
  .bottom-left{
    padding: 0;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .benefits-container {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .benefits-text {
    padding-left: 0px;
    text-align: center;
  }
  .benefits-text p {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .benefits-images {
    margin-top: 2rem;
  }
  .benefit-img {
    width: 100%;
  }
  .benefit-img img {
    height: 400px;
  }
}
@media only screen and (min-width: 769px) {
  .benefits-text {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .homepage {
    margin-top: 0px;
  }
}