
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
  
  #product-hr {
    border: 0;
    height: 3px;
    width: 30px;
    margin: 22px 0 20px;
    opacity: 1;
    background-color: rgba(1, 83, 133, 0.95);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  p {
    margin: 0 0 1.5em 0;
  
  }
  
  .products-main-container2 > div > div > a {
    display: inline-block;
    background-color: rgba(1, 83, 133, 0.95);
    color: white;
    text-align: center;
    padding: 1.5em 1em;
    white-space: nowrap;
    border-radius: 5px;
    position: absolute;
    bottom: -30px;
    right: 30px;
  }
  
  .product {
    position: relative;
    width:480px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .product__image {
    width: 70%;
    margin-bottom: 30px;
  }
  .product__image_main {
    display: flex;
    justify-content: center;
    height: 320px;
  }
  
  .product__title {
    font-size: 25px;
    margin: 0 0 0.5em 0;
    line-height: 1.1;
  }
  
  .product__price {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -30px;
    left: -30px;
    width: 100px;
    height: 100px;
  }
  .products-main-container2 > div > div > span {
    background-color: black;
    background-color: rgb(9, 141, 132);
    color: white;
    border-radius: 50%;
    font-weight: bold;
  }
  
  
  .products-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 100px;
  }
  .products-main-container2 {
    width: 70%;
  }
  .fotovoltaici > .products-main-container > .products-container > .product > p 
 {
    color: black;
  }
  .products-main-container2 > div > div > label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: block;
  }
  #SAJ-kWSelect {
    margin-bottom: 30px;
  }
 .products-main-container2 > div > div > img {
    width: 100%;
    height: 300px;
  }
.invertors {
    padding: 50px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* min-height: 1600px; */
    align-items: center;
    margin-top: 100px;
}

.invertors > .products-main-container2 > .products-container > .product > p {
  height: 170px;
}
.invertors > .products-main-container2 > .products-container > .product > select {
  margin-bottom: 35px;
}
.invertors {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 50px 0px;
  align-items: flex-start;

}
.orderform {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.orderform > div {
  display: flex;
  flex-direction: column;
  padding:0px 0px 10px 0px;
}
.cart-items > h5 {
  color: black;
}
.product__btn:hover { 
  background-color: rgba(2, 95, 153, 0.95);
  color: white;
}
@media only screen and (max-width: 903px) {
  .invertors {
    flex-direction: column;
    align-items: center;
  }
  .products-container {
    margin-right: 0px;
    margin-top: 60px;
  }
  
  }
  @media only screen and (max-width: 505px) {
    .products-main-container2 {
      margin-right: 50px;
    }
    .products-container {
      margin: 0px !important;
    }
    .products-container {
      margin-right: 0px;
      margin-top: 60px;
      width: 360px;
    }
    .product {
      height: 850px;
    }
  }