.navbar {
    background-color: rgb(23, 23, 23);
     padding: 0.5rem 10rem;
     width: 100%;
       flex-wrap: wrap;
   }
   nav {
     padding: 0%;
   }
   #navbarNav > ul > li > a{
     color: white;
     font-weight: bold;
     
   }
   #navbarNav {
     justify-content: end;
         
   }
   #navbarNav > ul {
     padding-right: 50px;
   }
   #navbarNav > ul > li {
     padding-left: 20px;
     padding-bottom: 5px;
   }
   body > div > div.navbar > nav > h2 {
     color:  rgb(255, 196, 0);
   }
   #kontaktbtn {
     
     font-weight: bold;
     font-size: large;
     background-color: rgb(1, 83, 133);
     color: white;
   }
  
@media only screen and (max-width: 1250px){
  #navbarNav > ul > li, #kontaktbtn{
    display: none;
  }
}
@media only screen and (min-width: 1250px){
  .test{
    display: none;
  }
}

